.menu-top {
    background-color: lightgray;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
}
.menu {
    display: flex;
    align-items: center;
    max-width: 800px;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.menu li {
    flex: 1;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.123);
}
.menu li:hover {
    cursor: pointer;
}
.menu li:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.123);
}
.menu-action {
    text-decoration: none;
    color: black;
}